*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background: linear-gradient(120deg, #302340 #1e0a34);
    background-color: #302340;
    font-family: 'Poppins', sans-serif;
    color: white;
    min-height: 100vh;
}

.container {
    top: 8rem;
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

h1 {
    text-align: center;
    color: #5a2a83;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.highlight {
    color: #5a2a83;
    font-weight: bold;
}

.about-section {
    background-color: #ffffff;
    color: black;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

.cta {
    text-align: center;
    margin-top: 20px;
}

.cta a {
    text-decoration: none;
    color: #fff;
    background-color: #5a2a83;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.cta a:hover {
    background-color: #472066;
}

/* Footer */

footer {
    background-color: #ffffffcf;
    width: 100%;
    padding: 20px;
    bottom: 0;
    text-align: center;
}

footer p {
    margin: 0;
    color: #000000;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer a {
    text-decoration: none;
    color: #007bff;
}

footer a:hover {
    text-decoration: underline;
}

/* Footer End */
